<div class="register">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h1>New User</h1>

				<%= render 'form' %>


				<%= link_to 'Back', login_path %>
			</div>
				<div class="col-lg-4">

					
				</div>
		</div>
	</div>
</div> 